body{
    background-color: #FCE905;
    
}
.login-titulo{
    font-family: Arial, Helvetica, sans-serif;
    padding:0% 25%;
}

.sesionador{
    padding: 0% 0% 0% 28%;
    
}

.inter-sesionador{
    width: 30px;
    float: left;
    height: 127px;
    background-color: #FCA605;
}
.des-sesionador{
    width: 140px;
    background-color: #FCA605;
    float: left;
    padding-bottom: 43px;
}

.form-sesionador{
    
    width: 200px;
    float: left;
    background-color: #FCA605;
}
